### Today topics
- string methods
    - string.join('delimeter')
    - string.startswith(ele)
    - string.endswith(ele)
    - string.zfill(num)
    - string.casefold()
- conditional statements
    - if
    - if else
    - else if(elif)
    - nested if
- range(start,stop,step count)
- iterating statements
- functions

In [2]:
clg='Universal College of Engineering'.split()
clg

['Universal', 'College', 'of', 'Engineering']

In [6]:
''.join(clg) #

'UniversalCollegeofEngineering'

In [8]:
'@'.join(clg)

'Universal@College@of@Engineering'

In [9]:
clg2='Universal College of Engineering'
clg2

'Universal College of Engineering'

In [10]:
clg2.startswith('j')

False

In [11]:
clg2.endswith('g')

True

In [12]:
len(clg2)

32

In [14]:
clg2.zfill(50) # fills the string with 0s

'000000000000000000Universal College of Engineering'

In [18]:
clg2.casefold()

'universal college of engineering'

**condtional statements**<br>
- if
    - Synatx:
        - if (condition):
             - statements

In [6]:
# whether a string is palindrome or not
#121=121
#madam=madam
#dir(str)
st=input()
if st==st[::-1]:
    print('palindrome')
else:
    print('Not a palindrome')

12321
palindrome

In [15]:
# check whether a no. is even or odd
a=int(input())
if a%2==0:
    print('even')
else:
    print('odd')

1010101099483894
even

### print the relavent answer
- i/p: 'a' or 'A'--> alphabet
- i/p: 8--> digit
- i/p: @,#,/--> o/p--> special character

In [18]:
ch=input()
if ch.isalpha(): # lower/upper
    if ch.islower():
        print('lowercase alphabet')
    elif ch.isupper():
        print('uppercase alphabet')
elif ch.isdigit():
    print('Digit')
else:
    print('Special character')

H
uppercase alphabet

In [8]:
# check whether an year is leap or not
year=int(input())
if (year%400==0) or (year%4==0 and year%100!=0):
    print('leap year')
else:
    print('non leap year')

1900
non leap year

### Iterating statements
- for
    - range/iterable
    - by default it increments 1 value
    - syntax:
        - for iterator in range():
        - for iterator in iterable:
            - statements
- while
    - condtion based iteratiion
    - user increment
    - syntax:
        - while conditon:
            - statements

In [15]:
v=range(1,21)
for num in v:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

range(limit)
range(start,stop,step count) #

r=range(1,21)
for num in r:
    print(num,end=' ')

In [3]:
# write a program to print the even no.s within range
lw=int(input())
up=int(input())
for num in range(lw,up+1):
    if num%2==0:
        print(num,end=" ")

0
40
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

In [1]:
s=range(int(input()),int(input()))
for num in s:
    if num%2==0:
        print(num,end=' ')

0
40
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

In [4]:
evens=range(lw,up,4)
for num in evens:
    print(num,end=" ")

0 4 8 12 16 20 24 28 32 36

In [6]:
# characters within a range
var=range(65,80)
for num in var:
    print(chr(num),end=" ")

A B C D E F G H I J K L M N O

In [7]:
# write a program to print the vowels in the string taken from the user
# i/p:'Universal college of engineering and technology'
# o/p: U i e a o e e o e i e e i a e o o
# write a program to print no.s from 1 to 20
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
st=input()
#
for each in st:
    if each=='a' or each=='e' or each=='i' or each=='o' or each=='u' or each=='A' or each=='E' or each=='O' or each=='U' or each=='I':
        print(each,end=' ')

Universal College of Engineering and Technology
U i e a o e e o E i e e i a e o o

In [14]:
# o/p: lowercase vowels
# o/p: uppercase vowels
st=input()
for i in st:
    if i.islower():
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            print(i,end=' ')
    elif i.isupper():
        if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
            print(i,end=' ')

Universal college of Engineering and Technology
U i e a o e e o E i e e i a e o o

In [2]:
# take alphanumeric string from the user and print only integer values
# the count of digits --> digit count
#sum of the digits
alnum=input()
count=0
s=0
for ch in alnum:
    if ch.isdigit():
        print(ch,end=" ")
        count+=1
        s+=int(ch)
print()
print('Count of numbers',count)
print('sum of digits=',s)

universal123 name789
1 2 3 7 8 9
Count of numbers 6
sum of digits= 30

In [19]:
s=0

21

In [3]:
clg='name'
clg.upper()

'NAME'

In [4]:
clg

'name'

### while
- condition based iteration

In [5]:
# 1to 20
num=0
while num<20:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [1]:
#even no.s 
even=0
while even<=20:
    print(even)
    even+=2

0
2
4
6
8
10
12
14
16
18
20

In [2]:
num=int(input())
i=0
while i<=num:
    print(i)
    i+=2

20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
i=0
while i<=int(input()):
    print(i)
    i+=3

20
0
40
3
30
6
25
9
100
12
89
15
56
18
90
21
80
24
75
27

In [1]:
# print the sum of digits in a number
# 12345
#15
num=input()
s=0
for each in num:
    s+=int(each)
print(s)

12345
15

In [2]:
n=int(input())
s2=0
while n>0:
    rem=n%10
    s2+=rem
    n//=10
print(s2)

12345
15

In [3]:
10/3

3.3333333333333335

In [4]:
10//3

3

In [1]:
 # find the factors of a number
# 20-->1,2,4,5,10
# count of factors

# 2. print the nth multiplication table
m=int(input('Enter any no'))
i=1
while i<=20:
    print(m,'X',i,'=',m*i)
    i+=1

Enter any no8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
8 X 20 = 160

In [3]:
mul=int(input())
for num in range(1,21):
    print(mul,'x',num,'=',mul*num)

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

In [5]:
n=int(input())
for i in range(1,n):
    if n%i==0:
        print(i,end=" ")

10
1 2 5

In [ ]:
n=int(input())
i=1
while i<=n+1:
    if n%i==0:
        print(i)
        i+=1